.itemListContainer {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.productosContainer {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.producto {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  text-align: center;
  width: calc(33.33% - 20px);
  box-sizing: border-box;
  background-color: #ffffff;
  transition: transform 0.2s, box-shadow 0.2s;
}

.producto:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.productoImagen {
  max-width: 100%;
  height: auto;
  max-height: 150px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.carritoContainer {
  width: 30%;
  max-height: 350px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carritoProducto {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

button {
  background-color: #25814a;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #4caf50;
  transform: translateY(-2px);
}

.ordenarBotonContainer {
  margin-bottom: 10px;
}

.ordenarBotonContainer button {
  background-color: #25814a;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.ordenarBotonContainer button:hover {
  background-color: #4caf50;
}